@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
.container {
  display: flex;
  height: 100vh;
  justify-content: space-between;
}

.container .left {
  width: 50%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1577563908411-5077b6dc7624?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.container .contact__wrap {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  width: 80%;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container h1 {
  font-size: 56px;
  margin-bottom: 50px;
  color: black;
}

.container .contact__form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.container .contact__form input {
  height: 35px;
  outline: none;
  border: 1px solid grey;
  border-radius: 25px;
  padding-left: 5px;
  margin-bottom: 10px;
  transition: .2s;
}

.container .contact__form input::placeholder {
  text-transform: uppercase;
  padding-left: 10px;
  font-size: 12px;
}

.container .contact__form textarea {
  height: 150px;
  border: 1px solid grey;
  resize: none;
  padding-left: 5px;
  padding-top: 10px;
  border-radius: 25px;
  margin-bottom: 10px;
  outline: none;
}

.container .contact__form textarea::placeholder {
  text-transform: uppercase;
  font-size: 12px;
  padding-left: 10px;
}

.container .contact__form textarea:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container .contact__form input[type="submit"] {
  height: 40px;
  font-size: 14px;
  color: #fff;
  margin-left: 110px;
  margin-top: 20px;
  background: #6D6027;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  width: 50%;
  transition: .2s;
}

.container .contact__form input[type="submit"]:hover {
  font-size: 16px;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
