@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
.login-page {
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  background-image: url("https://images.unsplash.com/photo-1511933801659-156d99ebea3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=100");
  background-repeat: no-repeat;
  background-size: 1520px 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding: 10px;
  overflow: hidden;
}

.login-page .top {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 30px;
}

.login-page .top .link {
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #00584c;
}

.login-page .bottom {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.login-page .bottom .light-green-bg {
  padding: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url("../../image/bg1Login.jpg");
  height: 490px;
  width: 79%;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 40px;
  background-position: center;
  background-size: 1200px 600px;
}

.login-page .bottom .light-green-bg .girl-container {
  position: absolute;
  z-index: 3;
}

.login-page .bottom .light-green-bg .girl-container .girl {
  position: absolute;
  z-index: 3;
  margin-top: -109px;
  margin-left: 280px;
  height: 550px;
  width: 392px;
}

.login-page .bottom .light-green-bg .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.login-page .bottom .light-green-bg .left .logo {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.login-page .bottom .light-green-bg .left .logo .lg {
  margin-left: -50px;
  width: 300px;
}

.login-page .bottom .light-green-bg .left .time {
  color: #0f5d64;
}

.login-page .bottom .light-green-bg .left .time .est {
  font-size: 18px;
  font-weight: 500;
  padding-right: 15px;
  text-shadow: 1px 1px 1px #000;
}

.login-page .bottom .light-green-bg .left .time .date {
  font-size: 36px;
  padding-right: 10px;
  text-shadow: 1px 1px 1px #000;
}

.login-page .bottom .light-green-bg .left .time .month {
  font-size: 22px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.692);
}

.login-page .bottom .light-green-bg .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-page .bottom .light-green-bg .right h1 {
  font-family: "Montserrat", sans-serif;
  margin-top: -100px;
  color: #0f5d64;
  text-shadow: 2px 2px #ffffff;
  padding-bottom: 50px;
}

.login-page .bottom .light-green-bg .right .button {
  outline: none;
  font-family: "Montserrat", sans-serif;
  background-image: url("../../image/unsplash-512.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  width: 256px;
  height: 48px;
  cursor: pointer;
  background-position: 15px;
  background-color: #157086;
  color: white;
  border: none;
  font-size: 14px;
  font-weight: 500;
  border-radius: 40px;
}

.login-page .bottom .light-green-bg .right .button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1360px) {
  .girl-container {
    display: none;
  }
  .girl-container .girl {
    margin-top: -200px;
    height: 500px;
  }
}

@media (max-width: 900px) {
  .login-page .bottom {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .login-page .bottom .light-green-bg {
    padding: 40px;
  }
  .login-page .bottom .light-green-bg .left .logo {
    display: flex;
    justify-content: flex-start;
    width: 60%;
  }
  .login-page .bottom .light-green-bg .left .logo .lg {
    margin-left: 0px;
    width: 200px;
  }
  .login-page .bottom .light-green-bg .left .time {
    color: #0f5d64;
  }
  .login-page .bottom .light-green-bg .left .time .est {
    font-size: 10px;
    padding-right: 8px;
  }
  .login-page .bottom .light-green-bg .left .time .date {
    font-size: 28px;
    padding-right: 5px;
  }
  .login-page .bottom .light-green-bg .left .time .month {
    font-size: 14px;
  }
}

@media (max-width: 704px) {
  .login-page {
    overflow: hidden;
  }
  .login-page .bottom {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .login-page .bottom .light-green-bg {
    padding: 90px;
    width: 70%;
  }
  .login-page .bottom .light-green-bg .left .logo {
    display: flex;
    justify-content: flex-start;
    width: 60%;
  }
  .login-page .bottom .light-green-bg .left .logo .lg {
    margin-left: 0px;
    width: 200px;
  }
  .login-page .bottom .light-green-bg .left .time {
    color: #0f5d64;
  }
  .login-page .bottom .light-green-bg .left .time .est {
    font-size: 10px;
    padding-right: 8px;
  }
  .login-page .bottom .light-green-bg .left .time .date {
    font-size: 28px;
    padding-right: 5px;
  }
  .login-page .bottom .light-green-bg .left .time .month {
    font-size: 14px;
  }
  .login-page .bottom .light-green-bg .right {
    display: flex;
    width: 100%;
    position: absolute;
    z-index: 5;
    margin-top: 250px;
  }
}

@media (max-width: 661px) {
  .login-page .bottom {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .login-page .bottom .light-green-bg {
    padding: 50px;
  }
  .login-page .bottom .light-green-bg .left .logo {
    display: flex;
    justify-content: flex-start;
    width: 60%;
  }
  .login-page .bottom .light-green-bg .left .logo .lg {
    margin-left: 0px;
    width: 200px;
  }
  .login-page .bottom .light-green-bg .left .time {
    color: #0f5d64;
  }
  .login-page .bottom .light-green-bg .left .time .est {
    font-size: 10px;
    padding-right: 8px;
  }
  .login-page .bottom .light-green-bg .left .time .date {
    font-size: 28px;
    padding-right: 5px;
  }
  .login-page .bottom .light-green-bg .left .time .month {
    font-size: 14px;
  }
  .login-page .bottom .light-green-bg .right {
    position: absolute;
    z-index: 5;
    margin-top: 250px;
  }
}

@media (max-width: 505px) {
  .login-page .bottom {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .login-page .bottom .light-green-bg {
    padding: 20px;
  }
  .login-page .bottom .light-green-bg .left .logo {
    display: flex;
    justify-content: flex-start;
    width: 60%;
  }
  .login-page .bottom .light-green-bg .left .logo .lg {
    margin-left: 0px;
    width: 200px;
  }
  .login-page .bottom .light-green-bg .left .time {
    color: #0f5d64;
  }
  .login-page .bottom .light-green-bg .left .time .est {
    font-size: 10px;
    padding-right: 8px;
  }
  .login-page .bottom .light-green-bg .left .time .date {
    font-size: 28px;
    padding-right: 5px;
  }
  .login-page .bottom .light-green-bg .left .time .month {
    font-size: 14px;
  }
  .login-page .bottom .light-green-bg .right {
    position: absolute;
    z-index: 5;
    margin-top: 250px;
  }
}

@media (max-width: 472px) {
  .login-page {
    overflow: hidden;
    padding: 0px;
  }
  .login-page .bottom {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .login-page .bottom .light-green-bg {
    padding: 20px;
  }
  .login-page .bottom .light-green-bg .left .logo {
    display: flex;
    justify-content: flex-start;
    width: 60%;
  }
  .login-page .bottom .light-green-bg .left .logo .lg {
    margin-left: -15px;
    width: 200px;
  }
  .login-page .bottom .light-green-bg .left .time {
    color: #0f5d64;
  }
  .login-page .bottom .light-green-bg .left .time .est {
    font-size: 10px;
    padding-right: 8px;
  }
  .login-page .bottom .light-green-bg .left .time .date {
    font-size: 28px;
    padding-right: 5px;
  }
  .login-page .bottom .light-green-bg .left .time .month {
    font-size: 14px;
  }
  .login-page .bottom .light-green-bg .right {
    position: absolute;
    z-index: 5;
    margin-top: 250px;
    margin-left: -10px;
  }
  .login-page .bottom .light-green-bg .right .button {
    font-family: "Montserrat", sans-serif;
    background-image: none;
    background-size: 5000px 50000px;
    background-repeat: no-repeat;
    width: 200px;
    height: 35px;
    background-color: #0f5d64;
    color: white;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
  }
}
