.profile-container {
  padding-top: 100px;
  width: 100%;
}

.profile-container .all-bio {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.profile-container .all-bio .profile-pic {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 40px;
}

.profile-container .all-bio .profile-pic img {
  height: 100%;
  width: 100%;
}

.profile-container .all-bio .name-data {
  text-align: left;
}

.profile-container .all-bio .name-data .name-and-follow-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.profile-container .all-bio .name-data .name-and-follow-button h1 {
  color: rgba(0, 0, 0, 0.801);
  margin-right: 30px;
  margin-bottom: 0;
}

.profile-container .all-bio .name-data .name-and-follow-button button {
  font-family: "Montserrat", sans-serif;
  height: 35px;
  width: 120px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  font-weight: 600;
  margin-bottom: 5px;
  cursor: pointer;
}

.profile-container .all-bio .name-data .name-and-follow-button .follow {
  margin-right: 10px;
  background-color: #0e85d4;
}

.profile-container .all-bio .name-data .name-and-follow-button .follow i {
  margin-right: 10px;
}

.profile-container .all-bio .name-data .name-and-follow-button .follow:hover {
  background-color: #0b94f0;
}

.profile-container .all-bio .name-data .name-and-follow-button .edit {
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.226);
}

.profile-container .all-bio .name-data .name-and-follow-button .edit i {
  margin-right: 10px;
}

.profile-container .all-bio .name-data .name-and-follow-button .edit:hover {
  background-color: rgba(0, 0, 0, 0.698);
}

.profile-container .all-bio .name-data .name-and-follow-button .message {
  background-color: black;
}

.profile-container .all-bio .name-data .name-and-follow-button .message:hover {
  background-color: rgba(0, 0, 0, 0.698);
}

.profile-container .all-bio .name-data .location-portfolio-bio {
  color: rgba(0, 0, 0, 0.637);
}

.profile-container .all-bio .name-data .location-portfolio-bio .links {
  display: flex;
  flex-wrap: wrap;
}

.profile-container .all-bio .name-data .location-portfolio-bio .location {
  cursor: pointer;
  margin-bottom: 20px;
  word-break: break-all;
  margin-right: 30px;
  color: rgba(0, 0, 0, 0.637);
  font-weight: 400;
  margin-top: 20px;
}

.profile-container .all-bio .name-data .location-portfolio-bio .location i {
  margin-right: 10px;
}

.profile-container .all-bio .name-data .location-portfolio-bio .location:hover {
  color: black;
}

.profile-container .all-bio .name-data .location-portfolio-bio a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.637);
  margin-bottom: 20px;
  word-break: break-all;
  margin-right: 30px;
}

.profile-container .all-bio .name-data .location-portfolio-bio a div {
  font-weight: 400;
  margin-top: 20px;
}

.profile-container .all-bio .name-data .location-portfolio-bio a:hover {
  color: black;
}

.profile-container .all-bio .name-data .location-portfolio-bio p {
  color: black;
  font-weight: 500;
}

.profile-container .location-portfolio-bio {
  width: 70vw;
}

.profile-container .photos-likes-collections {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  box-sizing: border-box;
  padding: 0 40px;
}

.profile-container .photos-likes-collections div {
  margin-right: 30px;
  color: rgba(0, 0, 0, 0.637);
  font-weight: 500;
  cursor: pointer;
}

.profile-container .photos-likes-collections div .active {
  color: black;
}

.profile-container .photos-likes-collections div i {
  margin-right: 10px;
}

.profile-container .photos-likes-collections div:hover {
  color: black;
}

@media (max-width: 900px) {
  .profile-container {
    padding: 30px 0px;
  }
  .profile-container .all-bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profile-container .all-bio .profile-pic {
    height: 100px;
    width: 100px;
  }
  .name-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    word-wrap: break-word;
  }
  .name-and-follow-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
  .name-and-follow-button h1 {
    font-size: 22px;
    margin-right: 0;
    margin: 20px;
  }
  .name-and-follow-button h1 .edit {
    margin: 10px;
  }
}
