.search-bar-container {
  height: 450px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  //z-index: 1;
  overflow-x: hidden;
}

.search-bar-container .black-layer {
  position: absolute;
  z-index: 2;
  height: 450px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.438);
}

.about-foto-fab {
  h1 {
    font-size: 30px;
    color: #fff;
  }

  p {
    color: #fff;
    font-weight: 500;
  }

  p:last-child {
    margin-bottom: 40px;
  }
}

.search-bar-area {
  height: 100%;
  width: 85vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0;
  z-index: 3;
}

.search-form {
  display: flex;
  border: 1.5px solid rgba(0, 0, 0, 0.171);
  border-radius: 3px;

  input {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 3px 0 0 3px;
    font-size: 16px;
  }

  button {
    font-family: "Montserrat", sans-serif;
    padding: 10px;
    border: none;
    outline: none;
    background-color: white;
    border-radius: 0 3px 3px 0;
    height: 50px;

    i {
      font-size: 20px;
      color: rgba(0, 0, 0, 0.603);
    }

    &:focus {
      i {
        color: black;
      }
    }
  }
}

.picture-info {
  z-index: 3;
  margin-bottom: 20px;

  p {
    color: rgba(224, 224, 224, 0.76);
  }

  p strong {
    color: white;
    font-weight: 500;
    cursor: pointer;
  }
}

/*TODO: background-image: url("IMAGE OF THE DAY"); */

@media (max-width: 800px) {
  .search-bar-container {
    height: 250px;
  }

  .search-bar-container .black-layer {
    height: 250px;
  }

  .about-foto-fab {
    display: none;
  }

  .picture-info {
    display: none;
  }
}
